.nav-cart{
    display: flex;
    justify-content: end;
    align-items: center;
    position: relative;
    margin-right: 10px;
}

.fontAweCart{
    font-size: 28px;
    color: black;
}

.cartItemCount{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: brown;
    border-radius: 50%;
    padding: 4px;
    font-size: 14px;
    color:white;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translate(40%, 30%);
}
