.heroCarousel{
    width: 70%;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.carousel-inner{
    width: 100%;
    height: inherit;
}
  
.heroImg{
    width: 100%;
    object-fit: contain;
}