
@media (prefers-reduced-motion: no-preference) {
    .nav-logo {
      animation: App-logo-spin infinite 2.5s linear;
      transform-origin: bottom left;
    }
  }
  
  @keyframes App-logo-spin {
    0%, 20%, 50%, 80%, 100% {transform: rotate(0);} 
    40% {transform: rotate(-10deg);} 
    60% {transform: rotate(-5deg);} 
    } 
  
  
  .reset-spacing{
    margin: 0px;
    padding: 0px;
  }
  
  .brand-logo{
    display: flex;
    gap: 10px;
    align-items: center;
    text-decoration: none;
    margin-right: 10px;
  }

  .brand-logo div{
    color: black;
    font-weight: bold;
    letter-spacing: 2px;
    margin: 0;
  }
  
  .nav-menu{
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 0px 0px 0px 5px;
    text-decoration: none;
    font-size: 18px;
    list-style: none;
    color: black;
  }

  